<div>
	<div class="table-responsive">
		<table class="table table-condensed">
			<main>
				<section>
					<h3>Task Title:</h3> <h1>{{data.taskTitle}}</h1>
					<h4>Task Discription</h4> <h2>{{data.taskDiscription}}</h2>
					<h4>Milestones</h4>
					
						
						<ul> 
						{{#each data.taskMilestoneDes}}
						<h3><li>{{this.milestoneDiscription}} </li></h3>
						<input type="checkbox" id="c_+{{this.id}}">
						<button id="b_+{{this.id}}" class="btn btn-primary" 
						onClick="completed();">Complete</button>
						{{/each}}
						</ul>
						

					
		<!--	<thead>
									
			</thead>-->
			<!--<tbody>

			</tbody>-->
			<tfooter>
				<tr><td>

					<button class="btn btn-primary" 
						onClick="addTask();">Add</button>
				</td></tr>
			</tfooter>
		</table>
	</div>
</div>